@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-04-caps/css/bpg-le-studio-04-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-glaho-web-caps/css/bpg-glaho-web-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");

:root {
    --prymary-color:#333;
    --background-color:#bbb;
    --background-colon:#989898;


}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "BPG Glaho WEB Caps",'Arial', sans-serif;
    color: var(--prymary-color);
    margin: 10px 0;

}
 
h1 {
    font-size: 2em;
    width: 50%;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

body {
    margin: 40px;
    background-color: var(--background-color);
    font-family: "BPG Arial", sans-serif;
}

header, footer {
    padding: 20px 10px;
    background-color: var(--background-colon);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    font-family: "BPG LE Studio 04 Caps", sans-serif;
    
}
/*  ტრენინგების სექცია */

.training {
    margin: 20px 0;
}

.training .training-header {
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 4px;
}

/* footer  */

.trainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;    
}

/* ცრილი */

table {
    width: 50%; /* ცხრილის სიგანე */
    border-collapse: collapse; /* ვაშორებთ ორმაგ ხაზებს უჯრებს შორის */
    margin-bottom: 40px; /* მანძილი ცრილის დაბლა */
}

thead {
    background-color: aqua; /* ფონის ფერი*/
    color: rgb(226, 50, 50); /* ტექსტის ფერი */
}

td {
    border: 1px solid #ddd; /* უჭრების ჩარჩო */
    padding: 8px; /* დაშორება უჭრების შიგნით */
    text-align: left; /* ტექსტის განლაგება */
}

tr:nth-child(odd) {
    background-color: #f2f2f2; /* კენტი სტრიქონების ფონის ფერი */
}

.table-container h6 {
    width: 50%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}